// App styles
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////


@import "../helpers/variables";
@import "../helpers/mixins";
@import "../base/typography";

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}




//.container {
//$width: 100%;

//@include size($width, auto);
//@extend %container;
//@extend %m-auto;


//width: 100%;
//padding-right: 16px;
//padding-left: 16px;
//margin-right: auto;
//margin-left: auto;
//@media (min-width: 768px) {
//max-width: 720px;
//}
//@media (min-width: 992px) {
//    padding-right: 30px;
//    padding-left: 30px;
//    //max-width: 960px;
//}
//@media (min-width: 1200px) {
//    padding-right: 50px;
//    padding-left: 50px;
//}
//    @media (min-width: 1500px) {
//        max-width: 1340px;
//    }
//}
//
//.icon {
//  // корректируем путь до картинок
//  $image-path: $images__path--root + "icons/";
//  $images: "logo", "account", "cart", "search", "burger", "instagram", "facebook", "tweeter"; // Список имен
//
//  @each $image in $images {
//    &.icon--#{$image} {
//      background: url("#{$image-path}#{$image}.svg") center center no-repeat;
//    }
//  }
//}

.icon--logo {
  min-width: 73px;

}

.icon--logo-gadgets-medium {
  //max-width: 123px;
  @include size(73px, 21px);
  @include lg {
    @include size(123px, 36px);
  }
}
.icon--logo-gadgets-big {
  @include size(156px, 45px);
  @include lg {
    @include size(123px, 36px);
  }
}

.icon18-24 {
  @include size(18px, 18px);
  @include lg {
    @include size(24px, 24px);
  }
}

.icon31-24 {
  @include size(31px, 31px);
  @include lg {
    @include size(24px, 24px);
  }
}
//.icon--burger {
//  @include lg {
//
//  }
//}



.nav-link {
  @include text($font-family__menu, $font-size--base, $font-weight__regular);
  @include link-color($colors__text, $colors__black__lighter);
}

//Example
//.icon--logo {
//    $icons__size: 24px;
//    @include size($icons__size, $icons__size);
//}


// Customize Placeholder
//////////////////////////////////////////////////////

::-webkit-input-placeholder {
  color: $colors__black !important;
  @include text($font-family__sans-serif, $font-size--xxsmall, $font-weight__light);
  @include lg {
    font-size: $font-size--base;
  }
}
::-moz-placeholder          {
  color: $colors__black !important;
  @include text($font-family__sans-serif, $font-size--xxsmall, $font-weight__light);
  @include lg {
    font-size: $font-size--base;
  }
} /* Firefox 19+ */
:-moz-placeholder           {
  color: $colors__black !important;
  @include text($font-family__sans-serif, $font-size--xxsmall, $font-weight__light);
  @include lg {
    font-size: $font-size--base;
  }
} /* Firefox 18- */
:-ms-input-placeholder      {
  color: $colors__black !important;
  @include text($font-family__sans-serif, $font-size--xxsmall, $font-weight__light);
  @include lg {
    font-size: $font-size--base;
  }
}

:focus::-webkit-input-placeholder {color: transparent;}
:focus::-moz-placeholder          {color: transparent;}
:focus:-moz-placeholder           {color: transparent;}
:focus:-ms-input-placeholder      {color: transparent;}
