@import "../../../styles/helpers/variables";
@import "../../../styles/helpers/mixins";

.header {
  background-color: green;
  height: $header--h-mobile;
  z-index: 10;
  @include lg {
    height: $header--h-desk;
  }

  &__link {
    @include lg {
      padding: 0 22px;
    }
  }
  &__icon {
    padding-left: 39px;
    @include min {
      padding-left: 28px;
    }
    @include lg {
      padding-left: 32px;
    }
  }
}


