.hero-main {
  $img-wrapper-min-h: 150px;
  padding-top: $header--h-mobile;
  @include lg {
    padding-top: $header--h-desk;

  }
  &__left {
    @include min-and-sm {
      order: 2;
    }
  }
  &__content {
    $pt--M: 30px;

    height: 100%;
    @include gadgets {
      padding-top: $pt--M;
    }
  }

  &__heading {
    $mb--M: 20px;
    $mb--D: 26px;

    margin-bottom: $mb--M;

    @include lg {
      margin-bottom: $mb--D;
    }
  }

  &__info {
    $font-size--M: 20px;
    $font-size--D: 30px;
    $mb--M: 20px;
    $mb--D: 46px;

    margin-bottom: $mb--M;
    font-size: $font-size--M;
    margin-top: 0;

    @include not-gadgets {
      font-size: $font-size--D;
      margin-bottom: $mb--D;
    }
  }

  &__btn {
    max-width: 130px;
    @include lg {
      max-width: 155px !important;
    }
  }

  &__img {
    min-height: $img-wrapper-min-h;
  }

  &__img-bottom {
    $pt--M: 40px;
    $pt--D: 80px;

    padding-top: $pt--M;
    @include lg {
      padding-top: $pt--D;

    }
  }
}