.hero {
  $img-wrapper-min-h: 150px;
  $pb--M: 24px;
  $pb--D: 50px;

  padding-bottom: $pb--M;
  @include md-up {
    padding-bottom: $pb--D;
  }

  &__content {
    $top: 9.7%;
    $left: 8.7%;
    $w--D: 30%;
    $w--M: 70%;

    top: $top;
    left: $left;
    width: $w--M;

    @include xl {
      width: $w--D;
    }
  }

  &__heading,
  &__info {
    $mb: 10px;

    margin-bottom: $mb;
  }

  &__info {
    $font-size--M: 10px;

    @include gadgets {
      font-size: $font-size--M;
    }
  }

  &__img {
    min-height: $img-wrapper-min-h;
  }
}