.hero {
  margin-top: 500px;
  &__img {
    $h--D: 746px;
    $h--T: 450px;
    $h--M: 198px;
    height: $h--M;
    @include md {
      height: $h--T;
    }
    @include lg {
      height: $h--D;
    }
  }
  &__content {
    $top: 9.7%;
    $left: 8.7%;
    $w: 30%;

    top: $top;
    left: $left;
    width: $w;
  }

  &__heading,
  &__info {
    $mb:10px;

    margin-bottom: $mb;
  }
}