
// Main Elements normalization
//////////////////////////////////////////////////////
//////////////////////////////////////////////////////

// @media all {}

//html {
//  padding: 0 !important;
//}
:root {
  --space-1: 15px;
}

html {
  height: 100%;
  -webkit-text-size-adjust: none;
}

body {
  height: 100%;
  color: $colors__black;
  background: $colors__white;
  margin: 0;
  padding: 0;
  quotes: "\00ab" "\00bb";

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden; // not scrolling horizontal body

  backface-visibility: hidden;

  // Normal text
  @include text($font-family__sans-serif, $font-size--base, $font-weight__light);

  ::selection {
    //background: fade-out($colors__grays--lighter, $fade * 3);
  }
}

// stylelint-disable declaration-no-important, no-descending-specificity, block-opening-brace-newline-after, block-closing-brace-newline-before, rule-empty-line-before, block-opening-brace-space-before

// No outline on focus controls!!!
button,
input,
textarea,
a {
  outline: none !important;

  &:hover,
  &:active,
  &:focus {
    outline: none !important;
  }
}

// Sections

// All blocks to border-box!!!
main,
article,
aside,
figure,
address,
section,
div,
form,
fieldset,
input,
select,
button,
a {
  box-sizing: border-box;
}

main,
article,
aside,
figure,
address,
div,
form,
fieldset,
pre {
  margin: 0;
  padding: 0;
}

address {
  font-style: normal;
}


// Others
fieldset,
iframe {
  border-width: 0;
}

// Lists
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: auto;
}
//
//ol,
//ul,
//li {
//  list-style: none;
//}


ul,
li {
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

table {
  border-spacing: 0;
}


input {
  border: none;
}

input:invalid {
  box-shadow: none;
}

//Hide arrows from input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

// WebKit Scrollbar
//////////////////////////////////////////////////////

/*
// Let's get this party started
::-webkit-scrollbar {
  width: $scrollbar_width;
}
// Track
::-webkit-scrollbar-track {
  background: $colors_scrollbar_track;
}
// Handle
::-webkit-scrollbar-thumb {
  background: $colors_scrollbar-thumb;
  border: 1px solid $colors_scrollbar_track;
}
*/

// stylelint-enable declaration-no-important, no-descending-specificity, block-opening-brace-newline-after, block-closing-brace-newline-before, rule-empty-line-before, block-opening-brace-space-before

