@font-face {
  font-family: 'Quicksand';
  src: url('src/fonts/Aeonik-Black.woff2') format('woff2'),
  url('src/fonts/Aeonik-Black.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Aeonik';
  src: url('src/fonts/Aeonik-Black.woff2') format('woff2'),
  url('src/fonts/Aeonik-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('src/fonts/Aeonik-Bold.woff2') format('woff2'),
  url('src/fonts/Aeonik-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('src/fonts/Aeonik-Medium.woff2') format('woff2'),
  url('src/fonts/Aeonik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Aeonik';
  src: url('src/fonts/Aeonik-Light.woff2') format('woff2'),
  url('src/fonts/Aeonik-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  src: url('src/fonts/Lora-Medium.woff2') format('woff2'),
  url('src/fonts/Lora-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}