/*****========================================================================
  #Reset Start
============================================================================*/

html {
  padding: 0 !important;
}

// HTML5 display-role reset for older browsers
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: auto;
}

ol,
ul,
li {
  list-style: none;
}


ul,
li {
  padding: 0;
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

table {
  border-spacing: 0;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  border-radius: 0;
}

input:focus,
input:active {
  outline: none;
}

input:invalid {
  box-shadow: none;
}

//Hide arrows from input number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button {
  outline: none;
  &:focus {
    outline: none !important;
  }
}

.slick-slide:focus {
  outline: none;
}

/*============================================================================
  #Reset End
============================================================================*/